<header>

  <nav>
    <p id="logo">DECISION MAKER Ultra</p>
    <div id = "crPoll">
      <a class="nav-item nav-link" href= "/poll" >Create new poll</a>
    </div>

    <% if (user === undefined || !user) { %>

      <div id = "logInOut">
        <a href="/login" class="btn btn-primary">Login</a>
      </div>

    <% } else { %>

      <div id = "logInOut">
        <form action  = "/logout" method = "POST">

          <label for = "logout">Signed in as: <%= user['email'] %></label>
          <input type="submit" value="Logout" name = "logout" class="btn btn-danger"/>

        </form>
      </div>

    <% } %>
  </nav>

</header>
