<header>
  <nav class="navbar">
    <a class="navbar-logo" href="/urls">Decision Maker</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div>
      <div>
        <!-- <a class="nav-item nav-link" href="/urls">My URLs</a> -->
        <a class="navbar" href="/">Create Poll</a>
      </div>
      <div>

      </div>
    </div>
    <% if (user === undefined || !user) { %>

      <div>


      </div>
    <% } else { %>
      <form action  = "/logout" method = "POST">
        <label for = "logout">Signed in as: <%= user['email'] %></label>

        <input type="submit" value="Logout" name = "logout" class="btn btn-danger"/>
      </form>
    <% } %>

  </nav>


</header>
