<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Poll Details</title>

  <!-- Meta Information -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;700&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">

  <!-- jQuery and Bootstrap CDNs -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <%- include('partials/_header'); %>
</head>

<body>
  <h1>Create a new poll</h1>
  <form class="mainContainer" action="/poll/<%= user['id'] %>" method="POST">
    <div>
      <label for="title">What is this decision about?</label>
      <input type="text" name="title" required />
      </>
      <div>
        <label for="desc">Description</label>
        <textarea type="text" name="desc" id="desc"></textarea>
      </div>
      <div>
        <label for="nums">How many options will there be?</label>
        <input type="number" name="nums" min="2" class="inputContainer" id="rank" required />
      </div>

      <input type="submit" value="Submit" name="submit" class="btn btn-primary" />


</body>

</html>
