<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

     <!-- jQuery and Bootstrap CDNs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <h1>Time to vote</h1>
    <form action = "/vote/<%= p_id %>" method = "POST">
      <h3>Please rank each item by choice. Example, first choice will be #1.</h3>
      <p>Rank your favourite items 1st to last</p>
      <% for (let op of ops) { %>

      <%= op.choice %> <input type="text" name = '<%= op.id %>' >


      <% } %>
      <input id = "sub" type="submit" value = "submit" />
    </form>


  </body>
</html>
