//ID's associated with vote_page.ejs
#title {
  @extend .mainContainer;
  align-self: center;
  width: 33%;
}
#nums {
  @extend .mainContainer;
  width: 5em;
  margin-bottom: 1.5em;
  align-self: center;
}
#desc {
  @extend .mainContainer;
  @extend input;
  padding-bottom: 5em;
  &:focus {
    color: white;
  }
}
