// Input field styling
input {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color:$dark-blue;
  padding: 12px 20px;
  box-sizing: border-box;
  outline: none;
  @extend .inputContainer;
  &:focus{
    box-shadow: 0 0 5pt 2pt #9c9b9b;
    outline-width: 0px;
    background-color: $dark-blue;
    color: white;
    outline: none
  }
}
#rank{
  font-size: $rank-font-size;
  width: 75px;
  margin-left: 15px;
  margin-right: 15px;
}
#name {
  @extend .mainContainer;
  @extend input;
  width: 200px;
}
