//Sass variables
$dark-blue: #0A1128;
$headertext-color: #1282A2;
$yellow: #FF9E00;
$btn-color: #FF9E00;
$btn-hov: #663C00;
$font-size: 16px;
$rank-font-size: 20px;
$textbox-color: #FFEFD6;
$textbox-hov-color: #FFE0AD;
$bg-clr: #FFF7EB;
