.navbar, #logo, #create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 2;
  background-color: #001F54;
  color: white;
}

#logo {
  font-weight: 1000;
}

#create {
  font-weight: 300;
}

body {
  background-color: #FFF7EB;
  font-size: 16px;
  color: #0A1128;
  padding-top: 90px;
}

body .add-space {
  margin-top: 120px;
}

h1, h2, h3 {
  color: #0A1128;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label {
  color: #0A1128;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
}

input {
  background-color: #FFEFD6;
}

input:focus {
  background-color: #FFE0AD;
  -webkit-box-shadow: 0 0 5pt 2pt #9c9b9b;
          box-shadow: 0 0 5pt 2pt #9c9b9b;
  outline-width: 0px;
}

.inputContainer, label, input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 300;
}

.mainContainer, .mainContainer #desc, .mainContainer #name, .mainContainer #sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  color: #0A1128;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 250px;
  margin-right: 250px;
}

.mainContainer #voteLayout {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

.mainContainer #desc {
  padding-bottom: 50px;
}

.mainContainer #rank {
  font-size: 20px;
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.mainContainer #name {
  width: 100px;
}

.mainContainer #sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #A35F00;
  color: white;
  width: 5em;
  border-color: #663C00;
}

.mainContainer #sub:hover {
  background-color: #663C00;
  -webkit-box-shadow: 0 0 5pt 2pt #9c9b9b;
          box-shadow: 0 0 5pt 2pt #9c9b9b;
  outline-width: 0px;
}

th {
  font-size: 20px;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

td {
  padding: 8px;
  text-align: center;
  border-top: 1px solid #dddddd;
}

tr:hover {
  background-color: #dedfe4;
}

p {
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}

footer {
  margin-bottom: 100px;
}

footer header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=layout.css.map */