// See: https://sass-lang.com/

$text-color: #0A1128;
$headertext-color: #1282A2;
$nav-color: #001F54;
$btn-color: #A35F00;
$btn-hov: #663C00;
$font-size: 16px;


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed; //fixes navbar
  top: 0; // sets position to 0
  padding: 10px;
  z-index: 2; // fixes navabr over other items
  background-color: $nav-color;
  color: white;
  #logo {
    @extend .navbar;
    font-weight: 1000;
  }
  #create {
    @extend .navbar;
    font-weight: 300;
  }
}

body {
  background-color: white;
  font-size: $font-size;
  color: $text-color;

  .add-space {
    margin-top: 120px;
  }

  h1 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
  };

  h4 {
    color: rgb(0, 0, 0);
    font-weight: 750;
    align-self: center;

  };

  #mainStuff {
    display: flex;
    justify-content: center;
  };

  .create-poll {
    display: flex;
    flex-direction: column;
    // align-items: center;
    color: $text-color;
    // width: 75%;
    // margin-top: .5em;
    // margin-bottom: .75em;
    margin-left: 10em;
    margin-right: 10em;

    #title {
      @extend .create-poll;
      align-self: center;
      width: 33%;
    };
    #desc {
      @extend .create-poll;
      padding-bottom: 5em;

    };
    #nums {
      @extend .create-poll;
      width: 5em;
      margin-bottom: 1.5em;
      align-self: center
    };
    #sub {
      @extend .create-poll;
      display: flex;
      align-items: center;
      align-self: center;
      background-color: $btn-color;
      color: white;
      width: 5em;
      border-color: $btn-hov
    };

    #sub:hover{
      background-color: $btn-hov;
    }
  };
};

// styles for results page
.results-table {
  // display: flex;
  // justify-content: space-between;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  border-radius: 15px;
};
.results-table:hover {
  border-radius: 15px;
  box-shadow: 15px 15px 15px #7e7d7b;
  // color: #545149;
}

th {
  font-size: 20px;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid rgb(221, 221, 221);
}

td {
  padding: 8px;
  text-align: center;
  border-top: 1px solid rgb(221, 221, 221);
};

tr:hover {background-color:#dedfe4;}

p {
  text-align: center;
};

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}

footer {
  margin-bottom: 100px;
}
