// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
  #mainStuff {
    display: flex;
    justify-content: center;
  }
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
